<p id="notice"><%= notice %></p>

<p>
  <strong>Minutes:</strong>
  <%= @estimation.minutes %>
</p>

<%= link_to 'Edit', edit_estimation_path(@estimation) %> |
<%= link_to 'Back', estimations_path %>
